{
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 180,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "importOrder": [
    "^@/components/(.*)$",
    "^@/(route)/(.*)$",
    "^@/providers/(.*)$",
    "^@/api/(.*)$",
    "^@/hooks/(.*)$",
    "^@/service/(.*)$",
    "^@/store/(.*)$",
    "^@/utils/(.*)$",
    "^@/types/(.*)$",
    "^@/constants/(.*)$",
    "^@/public/(.*)$",
    "^@/styles/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
